<div class="container">
    <h1 class="mt-5 text-center">Running Map</h1>
  
    <p class="text-justify my-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, sunt! Quod, voluptatibus incidunt. Voluptate
      mollitia illo repellat alias? Eligendi voluptatum, beatae officia suscipit non obcaecati debitis vitae maiores odio
      aspernatur!</p>
  
      <div class="text-center">
          <img src="https://via.placeholder.com/500" class=" img-responsive center-block" alt="">
      </div>
  
    <div class="example-button-row text-center my-5">
      <button mat-flat-button color="accent" class="mx-3"><a href="index/create" class="nav-link">Inscription</a></button>
      <button mat-flat-button color="warn">Connexion</button>
    </div>
  </div>
  