<div class="container">

  <h1 class="mt-5 mb-3">MON COMPTE</h1>

  <div class="shadow-lg p-3 mb-5 rounded">
    <div class="row">
      <div class="col-2">
        <img class="avatarUser ml-3 mt-5" src="{{ currentUser.avatar }}" alt="avatar">
      </div>
      <div class="col-10">
        <p class="mt-2 ml-3"><strong>Prénom : </strong>{{ currentUser.firstname }}</p>
        <p class="ml-3"><strong>Nom : </strong>{{ currentUser.lastname }}</p>
        <p class="ml-3"><strong>Pseudo : </strong>{{ currentUser.pseudo }}</p>
        <p class="ml-3"><strong>Mail : </strong>{{ currentUser.mail }}</p>
        <p class="ml-3"><strong>City : </strong>{{ currentUser.city }}</p>
        <p class="ml-3"><strong>Genre : </strong>{{ currentUser.gender }}</p>
        <p class="ml-3"><strong>Age : </strong>{{ currentUser.age }}</p>
      </div>
    </div>
    <button class="btn btn-success mt-3 mb-2 ml-3"><a class="linkButton"
        href="index/update/{{ currentUser._id }}">Modifier</a></button>
  </div>

  <hr>

  <h2>MODIFIER MOT DE PASSE</h2>

  <div class="shadow-lg p-3 mb-5 rounded">
    <div class="submit-form" [formGroup]="mp">

      <div class="form-group">
        <input type="text" class="form-control" id="oldpPasswd" formControlName="oldpPasswd" required name="oldpPasswd"
          placeholder="Ancien mot de passe">
      </div>

      <div class="form-group">
        <input type="text" class="form-control" id="newPasswd" formControlName="newPasswd" required name="newPasswd"
          placeholder="Nouveau mot de passe">
      </div>

      <div class="form-group">
        <input type="text" class="form-control" id="confirmNewPasswd" formControlName="confirmNewPasswd" required
          name="confirmNewPasswd" placeholder="Confirmation nouveau mot de passe">
      </div>

      <div *ngIf="mp.value.newPasswd === mp.value.confirmNewPasswd">
        <button (click)="editMp()" [disabled]="mp.invalid" class="btn btn-success mt-3 mb-2">Modifier</button>
      </div>
      <div *ngIf="mp.value.newPasswd !== mp.value.confirmNewPasswd">
        <button (click)="editMp()" disabled class="btn btn-success mt-3 mb-2">Modifier</button>
        <p>Vos mots de passe ne sont pas identiques</p>
      </div>
    </div>
  </div>

  <hr>

  <h2>SUPPRIMER COMPTE</h2>

  <div class="shadow-lg p-3 mb-5 rounded">
    <p>Votre compte sera supprimé définitivement</p>
    <button mat-flat-button color="warn" (click)="deleteUser()" class="mb-2">Supprimer</button>
  </div>

</div>
