<div class="container">

  <h1 class="mt-5 mb-3">Mon compte</h1>

  <h2>Mes données</h2>

  <p><strong>Prénom : </strong>{{ currentUser.firstname }}</p>
  <p><strong>Nom : </strong>{{ currentUser.lastname }}</p>
  <p><strong>Pseudo : </strong>{{ currentUser.pseudo }}</p>
  <p><strong>Mail : </strong>{{ currentUser.mail }}</p>
  <p><strong>City : </strong>{{ currentUser.city }}</p>
  <p><strong>Genre : </strong>{{ currentUser.gender }}</p>
  <p><strong>Age : </strong>{{ currentUser.age }}</p>

  <button class="btn btn-success mt-3 mb-5"><a href="index/update/{{ currentUser._id }}">Modifier</a></button>


  <hr>

  <h2>Mot de passe</h2>
  <p>Modifier mon mot de passe.</p>

  <div class="submit-form" [formGroup]="mp">

    <div class="form-group">
      <label for="oldpPasswd" class="mt-3">Ancien mot de passe</label>
      <input type="text" class="form-control" id="oldpPasswd" formControlName="oldpPasswd" required name="oldpPasswd">
    </div>

    <div class="form-group">
      <label for="newPasswd" class="mt-3">Nouveau mot de passe</label>
      <input type="text" class="form-control" id="newPasswd" formControlName="newPasswd" required name="newPasswd">
    </div>

    <div class="form-group">
      <label for="confirmNewPasswd" class="mt-3">Confirmation nouveau mot de passe</label>
      <input type="text" class="form-control" id="confirmNewPasswd" formControlName="confirmNewPasswd" required
        name="confirmNewPasswd">
    </div>

    <div *ngIf="mp.value.newPasswd === mp.value.confirmNewPasswd">
      <button (click)="editMp()" [disabled]="mp.invalid" class="btn btn-success mt-3 mb-5">Modifier</button>
    </div>
    <div *ngIf="mp.value.newPasswd !== mp.value.confirmNewPasswd">
      <button (click)="editMp()" disabled class="btn btn-success">Modifier</button>
      <p>Vos mots de passe ne sont pas identiques</p>
    </div>

  </div>

  <hr>

  <h2>Supprimer mon compte</h2>
  <button mat-flat-button color="warn" (click)="archivUser()" class="mb-5">Supprimer</button>

</div>
