<div class="container">

  <div class="submit-form" [formGroup]="user">

    <div class="form-group" >
      <label for="firstname">Prénom</label>
      <input type="text" class="form-control" id="firstname" formControlName="firstname" required name="firstname">
    </div>
    <div class="form-group">
      <label for="lastname">Nom</label>
      <input type="text" class="form-control" id="lastname" formControlName="lastname" required name="lastname">
    </div>
    <div class="form-group">
      <label for="pseudo">pseudo</label>
      <input type="text" class="form-control" id="pseudo" formControlName="pseudo" required name="pseudo">
    </div>
    <div class="form-group">
      <label for="mail">mail</label>
      <input type="email" class="form-control" id="mail" formControlName="mail" required name="mail">
    </div>
    <div class="form-group">
      <label for="city">Ville</label>
      <input type="text" class="form-control" id="city" formControlName="city" required name="city">
    </div>
    <div class="form-group">
      <label for="gender">Genre</label>
      <input type="text" class="form-control" id="gender" formControlName="gender" required name="gender">
    </div>
    <div class="form-group">
      <label for="age">Age</label>
      <input type="text" class="form-control" id="age" formControlName="age" required name="age">
    </div>
    <div class="form-group">
      <label for="password">Mot de passe</label>
      <input type="text" class="form-control" id="password" formControlName="password" required name="password">
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirmer mot de passe</label>
      <input type="text" class="form-control" id="confirmPassword" formControlName="confirmPassword" required name="confirmPassword">
    </div>

    <div *ngIf="user.value.password === user.value.confirmPassword">
        <button (click)="createUser()" [disabled]="user.invalid" class="btn btn-success">S'inscrire</button>
    </div>
    <div *ngIf="user.value.password !== user.value.confirmPassword">
      <button (click)="createUser()" disabled class="btn btn-success">S'inscrire</button>
        <p>Votre mot passe n'est pas bon</p>
    </div>

  </div>
</div>
